[2019-07-25 09:03] daghb opened #3 "Upgrade to .NET Core 3.0 Preview 7"

[2019-07-25 09:44] #3 closed

[2019-09-20 15:59] dsapoznik opened #6 "SessionStorage v.1.0.10 gives me an error while publishing into Azure App Service"
Hi Chris:

In my development environment, the latest version works fine (v.1.0.10) but when I published into an Azure App Service using the self contained mode it gaves the following error while browsing the application.

An error occurred while starting the application.
FileNotFoundException: Could not load file or assembly 'Blazored.SessionStorage, Version=1.0.10.0, Culture=neutral, PublicKeyTok

[2019-09-20 16:35] chrissainty commented on #6
Is your application using .NET Core RC1?

[2019-09-20 16:39] dsapoznik commented on #6
Hi Chris:

Yes, is using .NET Core RC1.  To do our publishings we do the self
contained mode.

Regards,

David

El vie., 20 sept. 2019 a las 12:35, Chris Sainty (<notifications@github.com>)
escribió:

--
David Sapoznik

[2019-09-20 16:43] chrissainty commented on #6
Have you tried doing a full clean of the solution and deleting all bin and obj directories before doing a rebuild?

[2019-09-20 16:56] dsapoznik commented on #6
Hi Chriss:

Yes many times, I just did it again, and the same issue.

I am using 3 RC1 packages from nuget, but this issue happens only in two
Session Storage and CurrieTechnologies.Razor.Clipboard, but not in the
BlazorStrap RC1 version.

I hope that this can give you a clue.

Thanks

El vie., 20 sept. 2019 a las 12:43, Chris Sainty (<notifications@github.com>)
escribió:

--
David Sapoznik

[2019-09-21 12:08] chrissainty commented on #6
Thanks for the info, @dsapoznik. I can't seem to replicate the issue, do you have a repro anywhere I can check out?

[2019-09-21 16:57] dsapoznik commented on #6
Hi Chris:

I dont have an external repository yet.  To confirm what you did, you
publish into an brand new app service and it worked fine.  Is that correct,
then I will have to wipe out my entire files on azure and then do a clean
publish.  I will wait for your confirmation.

Thanks

El sáb., 21 sept. 2019 a las 8:08, Chris Sainty (<notifications@github.com>)
escribió:

--
David Sapoznik

[2019-09-22 22:08] chrissainty commented on #6
Yes, that's correct. Please let me know how you get on with a clean deployment and if that doesn't fix the issue we can try and think of something else.

[2019-09-22 23:58] dsapoznik commented on #6
Hi Chris:

I removed all the files in our Azure wwwroot and then I did a new publish,
and it worked perfectly.

Thanks that was the trick.  It was strange why this happened for this two
components.

Regards,

David

El dom., 22 sept. 2019 a las 17:08, Chris Sainty (<notifications@github.com>)
escribió:

--
David Sapoznik

[2019-09-25 07:12] #6 closed

[2019-12-29 06:52] komirineni opened #7 "Sessionstorage service not storing the value"
Blazor Server app am calling below method in login page  store username
     await sessionStorage.SetItemAsync("Name",CurrentUser.Username);

and am using below method to retireive the save session name value but it is always getting null
var name = await _sessionStorageService.GetItemAsync<string>("Name");

Please let me know the reasons why session not storing in my blazer server app

[2019-12-29 13:17] chrissainty commented on #7
Hey, by the looks of it you're not specifying the type to deserialize the value to. Try something like this.

[code]

[2019-12-30 05:03] komirineni commented on #7
I have tried that also so am getting null value.

[2020-01-03 13:15] chrissainty commented on #7
Can you provide a repro of the issue with the minimum amount of code possible, please?

[2020-01-03 13:28] komirineni commented on #7
//Customautstate provider
 public class CustomAuthStateProvider :  AuthenticationStateProvider
    {
        //public UserModel CurrentUser { get; set; }
        //ClaimsIdentity identity = new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, "Admin") }, "Custom");
        private ISessionStorageService _sessionStorageService;
        public CustomAuthStateProvider(ISessionStorageService sessionS

[2020-01-03 13:34] chrissainty commented on #7
As you're using a Blazor Server app there is a chance that the code is being run before the connection to the browser is up and working. Could you try putting some test code in a components `OnAfterRender` method, inside of a check for `FirstRender`. If that works then it's a timing issue with Blazor Server and when this code gets run.

[2020-01-03 14:30] komirineni commented on #7
We are calling it on button click that means after component load where we are calling session storage to store the value.

[2020-01-03 14:40] chrissainty commented on #7
Ah ok.

In that case, could you provide the code as a fully working sample, please? I appreciate you adding the snippet you have above but I don't have the free time to try and patch it into an app somewhere and get it to run. Thanks.

[2020-01-19 14:26] chrissainty commented on #7
As I've not heard anything back I'm going to close this issue. Please feel free to re-open if you can provide a working repro.

[2020-01-19 14:26] #7 closed

[2020-01-23 11:51] DaisyDave opened #8 "Typo In README.md"
Just a minor issue but in the [Usage (Blazor WebAssembly)](https://github.com/Blazored/SessionStorage#usage-blazor-webassembly) synchronous example.

The interface name is incorrect. `ISyncStorageService` is used but the actual interface name is `ISyncSessionStorageService`

Once I got over that it seems to be working great for me.

[2020-01-24 08:47] #8 closed

[2020-01-24 08:47] chrissainty commented on #8
Thanks for spotting this, @DaisyDave. It's now sorted.

[2020-01-24 13:10] CuriousDrive opened #10 "Is there any way I could enable encryption/descryption on the data that I am trying to store?"
Thanks for the implementing this. SessionStorage has been very helpful in maintaining user's state in my Blazor application.

Although, is there any way I can Encrypt and Decrypt data stored in browser storage?

[2020-01-24 13:20] chrissainty commented on #10
Yes, you could encrypt the data before saving it to session storage - it's not part of this library, however, so you would need to implement that yourself. The only thing I would ask is why/what do you need to store?

The client is simply not secure, encrypting the data at best is only going to slow someone down. If the data is sensitive enough to warrant encryption then shouldn't you be storing i

[2020-01-24 13:31] CuriousDrive commented on #10
Thanks for replying Chris.
I am getting JWT token from my API and storing that in session storage. Is that a good idea?

If not, where should I store it? Where do people normally store it?

[2020-01-24 13:34] chrissainty commented on #10
That's what most people do with their JWTs, I tend to use local storage myself so it persists across session but that's down to your requirements. I'm no security expert mind you but all of the client-side apps I've built (I used to develop AngularJS and Angular apps prior to Blazor) have always done this.

[2020-01-24 13:36] CuriousDrive commented on #10
Ok. That makes me feel better.

Sorry for raising this as an issue. This is the 1st issue, I have raised on GitHub. It's nice talking to you and being part of the community. Thanks for your efforts.

[2020-01-24 13:36] #10 closed

[2020-02-10 11:26] ojorma opened #11 "unable to display the value of session storage in the example"
[code]

From this example, there is no way Name variable. When debugging you will see the value been set but the UI is not been updated. It's a serverside blazor application

[2020-02-10 13:34] chrissainty commented on #11
I can't see any obvious reason this code shouldn't work. What errors are you seeing? Have you stepped through the code while debugging? If so what happened?

[2020-02-10 23:10] ojorma commented on #11
the name john smith doesnt display. anything i do in the OnAfterRenderAysnc doest change the UI

[2020-02-10 23:35] ojorma commented on #11
first thing i actually noticed that i changed
protected override async Task OnAfterRenderAsync() does not exist
![image](https://user-images.githubusercontent.com/17591360/74200083-41a61500-4c66-11ea-9f30-c41341648dd0.png)

So im actually using
protected override async Task OnAfterRenderAsync(bool firstRender)

![image](https://user-images.githubusercontent.com/17591360/74200130-61d5d400-4c66-11ea

[2020-02-10 23:36] ojorma commented on #11
`@page "/counter"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>@Name</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@functions  {
    private int currentCount = 0;
    private string Name;
    private void IncrementCount()
    {
        currentCount++;
    }

       protected overri

[2020-02-11 08:50] chrissainty commented on #11
I doubt this is having an effect on anything but you shouldn't be using `functions`, that is a Razor Pages feature. For Blazor components you should be using `code`.

Could you try adding a `StateHasChanged` call after you set the `Name` property.

[2020-02-11 12:10] ojorma commented on #11
StateHasChanged, that did it. me using code and functions is just me trying everything i can think of. Thanks problem solved.

[2020-02-11 12:10] #11 closed

[2020-04-03 22:01] jjorian opened #12 "Use In Controllers and PageModel"
Hi there
if we want use from this sessions in controllers and PageModels and another section of my project
have  a way?

[2020-04-03 22:14] chrissainty commented on #12
Hey,

When you say controllers I'm assuming you mean in WebAPIs? If that's true, this package wouldn't make sense to use in controllers, it's just for Blazor applications.

[2020-04-10 04:38] nthomson-choicescreening opened #14 "Session Timeout"
Is there a timeout on the session and if so how can we set it?

[2020-04-10 09:23] chrissainty commented on #14
There isn't any timeout I'm aware of. The lifetime of browser session storage is tied to the page session. I would suggest reading the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage) for loads fo great information about how it all works.

[2020-04-10 09:23] #14 closed

[2020-04-14 13:13] #12 closed

[2020-04-29 08:41] kristof12345 opened #15 "[Feature Request] Serialize with lower case / camelCase"
**Is your feature request related to a problem? Please describe.**
I would like to access the sessionStorage data from JS code, which expects camelCase syntax for field names.

**Describe the solution you'd like**
It'd be great to have an option to setup serialization options. Eg. in startup with an enum like "Serialization.Camelcase".

**Describe alternatives you've considered**
Using camelCase i

[2020-04-29 23:03] chrissainty commented on #15
I agree this would be a good setting to expose. I think the best scenario would be to allow the developer to configure the JSON options for the serializer and then we just load those.

[2020-05-07 23:38] nadcraker opened #16 "[Question] Is it possible to store complex objects or just strings?"
Specifically I am trying to store a [`WindowsIdentity.AccessToken`](WindowsIdentity.AccessToken).

Here is my `_Host.cshtml.cs` file
[code]
Here is my `app.razor` file
[code]

And here I try to retrieve it in a razor component: `var accessToken = await sessionStorage.GetItemAsync<Microsoft.Win32.SafeHandles.SafeAccessTokenHandle>("win_access_token");`

I successfully retrieve the token, but its pr

[2020-05-12 14:43] HenningNT opened #17 "[Question] How to read browser session storage?"
When I try to read something from the session storage managed by the browser I get a json deserializing exception. I guess the GetItemAsync<T> tries to deserialize the file?

How should I go about reading some data from the session storage which hasn't been serialized to json?

(The goal is to read an access token stored in the session storage, which is stored by the browser)

[2020-05-13 04:21] HenningNT commented on #17
I looked into the source and found an answer:
var token = await _jSRuntime.InvokeAsync<string>("sessionStorage.getItem", "msal.idtoken");

:-)

[2020-05-13 04:21] #17 closed

[2020-05-13 06:45] chrissainty commented on #17
Sorry I didn’t get to this sooner but glad you found the answer.

[2020-05-14 17:45] chrissainty commented on #16
HI @nadcraker, we serialise the objects you pass using the new System.Text.Json library. We've found there can be some issues depending on the object you're passing into Session Storage.

When you say the properties are not the same, what's changed. Can you provide an example?

[2020-05-21 18:49] nadcraker commented on #16
Actually I think the storing and retrieving of the SafeAccessTokenHandle was just fine. The reason that some properties were different is because the handle was no longer valid, which is no fault of SessionStorage.

[2020-05-21 18:49] #16 closed

[2020-05-22 22:35] #15 closed

[2020-05-29 08:53] tripleacoder opened #20 "Method not found: 'System.Threading.Tasks.Task Blazored.SessionStorage.ISessionStorageService.SetItemAsync(System.String, System.Object)'"
In version 1.0.12, I get the exception:

System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task Blazored.SessionStorage.ISessionStorageService.SetItemAsync(System.String, System.Object)'.

when calling

await this.sessionStorage.SetItemAsync(propertyName, value);

Version 1.0.11 is working fine.

[2020-06-01 08:25] chrissainty commented on #20
Hi @tripleacoder, I've run the sample projects and everything appears to be working as expected. Can you provide a repro of the issue so I can run it and understand where it's going wrong?

[2020-06-04 12:43] chrissainty commented on #20
As there hasn't been any further info provided. I'm going to close this issue.

[2020-06-04 12:43] #20 closed

[2020-06-05 06:54] chrissainty commented on #20
Thanks @tripleacoder. There possibly was a breaking change between the versions we let slip through hence the error you were seeing.

[2020-06-20 09:50] walteriermano opened #22 "[Bug] Miss ContainKeyAsync"
**Describe the bug**
Miss the Method ContainKeyAsync , in documentation is present but not in the code

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2020-06-20 10:34] chrissainty commented on #22
Hey @walteriermano

Apologies I’ve merged the PR which added this functionality but I forgot to release it. I’m in the process of changing all of the CI/CD over to GitHub Actions for all Blazored Projects so this type of thing is easier to manage.

If you can bare with me I’ll get this released ASAP.

[2020-06-20 11:54] walteriermano commented on #22
Thanks

[2020-06-24 13:49] ajruckman opened #23 "[Question] Blazored.LocalStorage and Blazored.SessionStorage store the same values differently"
Hi, I have some code where I want to be able to store a value in either Session Storage or Local Storage. I am using both of your libraries to access them. I expected the data stored to be in exactly the same format in both, no matter which "provider" I used.

I have an interface like this:
[code]
and 2 classes like these:
[code]

But the values is stored in Local/Session Storage are not the same.

[2020-06-26 17:06] chrissainty commented on #23
Thanks for raising this @ajruckman. I think there has been some drift in functionality between the two libraries over time. This is something that will be addressed and I'm exploring options to stop this happening again in the future.

[2020-06-30 07:41] StefH opened #24 "Reading 'existing / normal' values from session storage is not possible"
The current implementation from `GetItemAsync<string>("key")` reads the value as string, but also deserializes using JSON.

This means that I cannot use GetItemAsync for reading existing / normal string-values from the SessionStorage (these values are added to the SessionStorage by other code)

Proposals can be:
1. In case deserializing the string value into json object fails, just return the stri

[2020-06-30 08:23] chrissainty commented on #24
@StefH Something like this (https://github.com/Blazored/LocalStorage/pull/88) perhaps? :)

[2020-06-30 08:39] StefH commented on #24
Indeed. The same idea.

Can you implement it in this project and the local storage?

[2020-06-30 21:47] chrissainty commented on #24
Yes, once we have it in local storage we’ll implement it here as well.

[2020-07-01 19:34] imprathamesh opened #25 "How to check the session is null or not"
How do i check the session is null or not.
like
int customerid;
if(sessionstorage.GetItemAsync<int>("CustomerID") == null)
{
nm.Navigate("/login");
}
else
{
customerid = sessionstorage.GetItemAsync<int>("CustomerID");
}

this is not working. is there any problem? please help me.

[2020-07-02 07:26] chrissainty commented on #25
Hi @imprathamesh,

You could do the following to check for a value in Session Storage.

[code]

[2020-07-02 07:26] #25 closed

[2020-07-17 23:07] Wndrr opened #26 "[Bug] System.Text.Json v4.0.1.2 is not available on NuGet.org"
**Describe the bug**
A blazor server-side project using the library will throw the following error because System.Text.Json Version=4.0.1.2 is not available on Nuget.org

**Screenshot**
![image](https://user-images.githubusercontent.com/22050759/87837197-fa662500-c892-11ea-9dd4-ac3932bfbe73.png)

**To Reproduce**
- Install package
- Make any call to it
- Start project
- Exception is thrown

**Host

[2020-07-17 23:21] Wndrr commented on #26
It turns out the System.Text.Json's DLL version is 4.0.1.2 for the package version 4.7.2

[2020-07-17 23:21] #26 closed

[2020-08-12 19:56] robalexclark opened #28 "[Bug] ContainsKeyAsync not present in API"
**Describe the bug**
I've tried to find the ContainsKeyAsync method but it doesn't seem to exist

**To Reproduce**
Clone the repo, and try and add the line await sessionStorage.ContainsKeyAsync in Index.razor

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor Server

[2020-08-12 19:59] robalexclark commented on #28
Sorry just seen this issue already been raised in #22

[2020-08-13 16:54] HopInTheCloud commented on #10
Using LocalStorage or SessionStorage without encryption or some kind of protection, makes your tokens vulnerable to Cross Site Scripting (XSS)

[2020-08-13 18:06] chrissainty commented on #10
@HopInTheCloud Even with encryption they are vulnerable as they ultimately reside on the client. Encryption will only slow a motivated party down.

[2020-08-13 18:14] HopInTheCloud commented on #10
I do realize, when you are targeted, they will try and compromise your data in the browser storage but at least make it difficult for them.
Maybe look at some like "ASP.NET Core Data Protection" to include in your library.
I am currently using your library with "ASP.NET Core Data Protection" to encrypt the data and then store it with SessionStorage.

I also just want to add that you have created a

[2020-08-13 18:17] chrissainty commented on #10
@HopInTheCloud I appreciate what you're saying, please don't think I don't. My concern is this, if I offer encryption in this library and someones app gets hacked, I don't want to take that responsibility. The Blazor team are releasing the ProtectedLocalStorage package in the next preview for .NET5 and, if I'm honest, I think people will start to move over to that as it's "official" from MS.

[2020-08-13 18:20] HopInTheCloud commented on #10
Yes. I read about the upcoming ProtectedLocalStorage as well. The only reason I did not mention it, is because it is still a experimental project. When MS eventually releases it, everybody will be using that, you are correct.

[2020-08-13 18:31] chrissainty commented on #10
Which makes it difficult for me to justify the time to add the feature. Not much support for the open source community in the .NET world at times.

[2020-09-02 05:06] lonwabogiqwa opened #29 "Update documentation on Usage (Blazor Server)"
This is just a comment that if you set the Blazor app render-mode to server, you do not need to wait for OnAfterRenderAsync. You can inject and use session storage on OnInitializedAsync or some other handler.
`<app><component type="typeof(App)" render-mode="Server" /></app>`

[2020-09-02 21:47] chrissainty commented on #29
I'm surprised by this. However we won't be updating the docs as the official guidance is to perform JS interop in the OnAfterRender lifecycle method, only.

I'll have a look into this when I have time as thud shouldn't work on Blazor Server.

[2020-09-02 21:47] #29 closed

[2020-09-06 20:27] StefH commented on #24
@chrissainty I see that the code for LocalStorage is merged.

Can you please apply the same fix for this project?

[2020-09-13 18:58] surpavan opened #30 "To provide option to use custom json serialize like newtonsoft"
The system.text.json is not able to serialize many types where they are nested, atleast in my case. But newtonsoft json is able to serialize.

It would be great if there is an option to choose between Microsoft provided one and custom provider like newtonsoft.

Below is my middleware like implementation:
[code]

[2020-09-18 06:47] chrissainty commented on #30
Yes I agree @surpavan. This is something which has been proposed on the Local Storage version of this library as well, I'm currently looking at a way of blending these two libraries into a single code base so features become available on both versions simultaneously. At that point this will be available so please bare with me if that's ok.

[2020-09-18 06:49] #28 closed

[2020-09-18 06:50] chrissainty commented on #24
@StefH I'm looking to merge the codebases for these two libraries so keeping features in sync isn't such a drain. Once this is done then this feature will be available.

[2020-09-18 06:59] surpavan commented on #30
We like your code, it made work way more simple and easy.  Thank you for that.

[2020-09-18 22:15] BrianJose opened #31 "[Bug] GetItemAync hangs"
I am using Blazored.Session storage in my blazor server application. Both the setItemAsync getItemAsync work fine in debug and release mode if I have the debugger attached. When I host the web page and run the release version without the debugger attached the getItemAsync hangs. Any idea why this might be happening especially since it does not hang when the debugger is attached?

[2020-09-20 09:18] StefH commented on #24
@chrissainty That's a good idea, just keep me posted on this when it's ready.

[2020-09-21 05:30] chrissainty commented on #31
Hi @BrianJose, I've not heard of this one before. Can you provide a minimal repro of the issue and I can have a look into it.

[2020-09-21 15:06] #31 closed

[2020-09-29 11:56] SommerEngineering opened #32 "[Bug] Cannot use library with .NET 5 RC1"
I am currently testing .NET 5.0 RC1. Unfortunately I had to find out that this library is not compatible with `<TargetFramework>net5.0</TargetFramework>`. Could you create a pre-release that is compatible? Thanks 🙂

[2020-09-29 12:55] chrissainty commented on #32
Hi this library does work with .NET5 as is. You need to be running the latest RC and the preview version of Visual Studio.

[2020-09-29 12:55] #32 closed

[2020-10-01 08:55] tripleacoder opened #33 "[Bug]GetItemAsync and SetItemAsync throw System.Threading.Tasks.TaskCanceledException: 'A task was canceled.'"
In my new app, I'm trying to use SessionStorage to store larger graphs of objects (a few hundreds).

However, I often get 'A task was canceled' from GetItemAsync and SetItemAsync. Also, Blazor shows the message "Attempting to reconnect to server" both when doing local debugging and when deployed to an IIS server.

What is the performance of SessionStorage when storing and retrieving 100s of object

[2020-10-05 05:52] chrissainty commented on #33
Hi @tripleacoder, the quick answer to your question is I don't know. When large amounts of data are stored in browser stroage (local or session) people seem to be finding issues like the one you've raised. I'm not sure yet if this is an issue with browser storage or something to do with Blazor/this library. Could you try and produce a minimal repro of the issue so I can debug it? So far we haven't

[2020-10-05 08:56] tripleacoder commented on #33
I can repro it in my project right now, 100% of the time by calling SetItemAsync with a null argument.
It happens in an EditForm OnValidSubmit handler...

[2020-10-05 09:25] chrissainty commented on #33
Ok, but I need a working repro project. What you've just described is also different to your initial issue.

[2020-10-05 09:32] tripleacoder commented on #33
No, it seems related...

If I call SetItemAsync first with a complex object with 100 child objects it works.
But then I can repro the timeout if I call SetItemAsync (using the same key) with null, or a different, or the same object.

Could the problem be caused by the code that is erasing the previous entry?

[2020-10-05 11:04] tripleacoder commented on #33
This bug appears to be related to shared nodes in an object tree. I'm working on a repro project now.

[2020-10-05 13:05] tripleacoder commented on #33
I have made a repro project:
https://github.com/tripleacoder/BlazorApp3

[2020-10-05 13:29] tripleacoder commented on #30
This would be great to have.
Right now, the model classes in my Blazor projects are full of workarounds because of the limitations of the .NET serializer.

[2020-10-12 10:55] lxman opened #34 "[Question] Error: The circuit has closed due to an error."
So, I have been using this package without issue. In a component I have designed I am calling SetItemAsync in the dispose method so that when it comes up on another page I can restore the state. I have suddenly noticed that this no longer seems to work. In particular, when I refresh the page with the component, I see the above error.
I'm using this with Blazor server with .net core 3.1. Has someth

[2020-10-13 07:06] tripleacoder commented on #33
Can you repro it..?

[2020-11-09 13:01] ezdsdeveloper opened #35 "Blazored session storage to work for objects."
Storing an object works just fine

Getting that object and deserializing it breaks
.
  Person person = await sessionStorage.GetItemAsync<Person>("People");

I think this is related to another contributor mentioning system.text.json and the inherent issues with that dependency.

Just need a way to store objects in blazor for the entire session.

Using a singleton wont work obviously.

Using a scope

[2020-11-10 06:36] chrissainty commented on #35
Hi, could you provide some details about how it break? An error message for example? Even better would be a minimal repro of the issue.

[2020-11-17 19:11] aherrick opened #36 "[Question] Is this package obsolete with Net 5 updates?"
https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-5.0&pivots=server

[2020-11-17 19:21] chrissainty commented on #36
It depends if you require data encryption or not.

[2020-11-25 19:18] darrylluther opened #37 "[Question] Getting error when storing complex object"
I'm attempting to store a complex object (EF Core entity) that has navigation properties which refer back to the parent entity. I've added a [JsonIgnore] attribute to my entities and my default JsonSerializerSettings ReferenceLoopHandling property is set to ReferenceLoopHandling.Ignore, but I continue to get the error:

`Error: System.Text.Json.JsonException: A possible object cycle was detected.

[2020-11-26 06:34] chrissainty commented on #37
I've not come across this error myself. Could you create a repro of the issue on GitHub and post a link to it so we can run it and try and figure out what might be going on?

Could I ask why you're storing EF entities on the client? That seems like it could be dangerous.

[2020-11-26 13:03] jacobdenis opened #38 "[Question] Session per browser"
**Please be sure to check the readme file before raising an issue.**
Hi, i am currently experiencing issue regarding the session where when i login in  mozilla  and then i will login other account in the google chrome when i refresh my mozilla browser it show the account that i login in the chrome browser

here is my code
![image](https://user-images.githubusercontent.com/28717802/100355528-e5fa1c

[2020-11-26 18:46] chrissainty commented on #38
I'm not really sure how this could happen. Each browsers storage is isolated. Are you using Blazor Server or Wasm? Could you provide some more code to help understand what is going on? There is little we can do with the current example.

[2020-11-27 11:00] jacobdenis commented on #35
It seemed it's on my app settings since I've used singleton for my services. SessionStorage is working fine. Thank you. for your assistance

[2020-11-27 11:01] jacobdenis commented on #38
It seemed it's on my app settings since I've used singleton for my services. SessionStorage is working fine. Thank you. for your assistance

[2020-11-27 21:25] #38 closed

[2020-11-30 21:37] darrylluther commented on #37
It's difficult to provide a repo because it's likely how EF Core structures the data that is causing the error. However, you are right that storing EF entities on the client could be dangerous. I was simply hoping to avoid another call to the database in the case where a user refreshes the screen. I've opted to store the ID of the record being edited and I just pull it from the DB on a refresh.

[2020-11-30 21:37] #37 closed

[2020-12-23 08:56] anjan-cele opened #40 "How to handle on Page Refresh."
Like I have a login page and , from login success authentication i need to land on homepage with the session id.

Is it internally using browser's localstorage?

Thanks

[2020-12-23 09:39] chrissainty commented on #40
Hi, this library is a wrapper for the browser Session Storage.

[2020-12-23 09:39] #40 closed

[2020-12-23 09:39] #36 closed

[2020-12-23 09:40] chrissainty commented on #34
Apologies, I missed this issue being filed. Are you still having a problem? There have been no changes that would have caused this, as far as I'm aware.

[2020-12-23 14:17] drma-dev commented on #22
@chrissainty

I was looking for just that functionality now. Did you have a problem with the code not to be released?

[2020-12-23 18:13] lxman commented on #34
No problem - I have since reworked the page - it appears that the issue may
be me trying to write to sessionstorage inside of a dispose method. Since I
have reworked the code not to do that the error has gone away.

On Wed, Dec 23, 2020 at 4:41 AM Chris Sainty <notifications@github.com>
wrote:

[2020-12-23 23:24] chrissainty commented on #34
That's good news, I'll go ahead and close this issue then.

[2020-12-23 23:24] #34 closed

[2021-01-04 06:50] larspage commented on #33
Was this resolved?  What if you use JSON or serialization?

[2021-01-19 22:18] drma-dev opened #41 "[Feature Request] Miss ContainKeyAsync"
I know you already have a ticket open, it's just a reminder.

Is there anything missing to upload this update? I can help with something?

[2021-01-20 06:35] chrissainty commented on #41
@drma-dev My apologies it turns out the PR was never merged. It was closed when we switched default branch names. If you would like to submit a new PR with the functionality (you can copy the original one if you wish). I will get it merged and released.

[2021-01-20 14:16] drma-dev commented on #41
Done. I didn't get to test it, I just copied what was done.

[2021-01-20 17:12] #22 closed

[2021-01-20 17:12] #41 closed

[2021-03-13 18:20] thepra opened #43 "Is this a good use library to store the JWT and deal with AuthenticationStateProvider?"
Using this kind of storage from a normal desktop/mobile browser keeps the storage and the session without any issue but as soon I Install it both on android and desktop every time that I open the app it seems like the session storage is gone, redirecting the user to the login page.
So I was wondering, am I using it right or there's something missing that I don't do to stop the installed version fr

[2021-03-13 18:37] thepra commented on #43
Nevermind, with a bit of documentation I figured out I was using it all wrong <_<

[2021-03-13 18:37] #43 closed

[2021-04-13 14:10] tripleacoder commented on #33
Hi Chris,
Can this be given higher priority. It seems there is no real workaround and the error can appear suddenly and unpredictably, even with smaller object graphs.

[2021-04-13 18:51] chrissainty commented on #33
Hi @tripleacoder. Apologies this one slipped off my radar. I'll take a look at this at the weekend.

[2021-05-08 13:06] #23 closed

[2021-05-08 13:06] #24 closed

[2021-05-08 13:06] #30 closed

[2021-05-08 13:06] #33 closed

[2021-05-08 13:06] #35 closed

[2021-05-14 23:16] adrianwright109 opened #45 "[Question] Using System.Text.Json.JsonSerializer.SerializeToUtf8Bytes"
Hi,

I have a list of complex objects that are rendered in a Telerik Blazor Grid. When I select items in the grid the grid's OnItemSelected event sends an`IEnumerable<T>` of all the selected items in the grid.

I can save this to a property in the Blazor component.

What I want to be able to do is persist that data so that if a user navigates away from the page that has the grid and then returns b

[2021-05-15 14:00] chrissainty commented on #45
Hi @adrianwright109. The browsers session storage is only capable of storing string values. So that is the only thing you need to factor in here. I'm curious if you've hit any speed issues with the default serialization or if you're just expecting them?

[2021-05-15 15:38] adrianwright109 commented on #45
I'm more worried about exceeding the browser's session storage limit as these Telerik grids can have up to 10,000 rows in them. Potentially 10,000 rows could be selected and serializing a list of that many into a JSON string could exceed the limit. Unfortunately the grid needs the full objects to set the selected items, not just an ID.

Other option which I might have to do is store a unique ID in

[2021-05-22 10:03] chrissainty commented on #45
I see what you're saying. Session storage will hold up to around 5MB. I think storing the ID's with a call back to the DB is probably a more robust option.

As there isn't anything to do here I'm going to close this issue.

[2021-05-22 10:03] #45 closed

[2021-06-02 14:21] JackRFoulkes opened #47 "[Bug] Session Storage Limit"
**Describe the bug**
Attempting to retrieve a list of stored objects from session storage causes the following error:
![image](https://user-images.githubusercontent.com/77442651/120497175-1775ea80-c3b6-11eb-8bae-f1fc9af7fe9f.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Create two new classes (these have been generated for me from EF Core). Here are the definitions:

[code]
[code]

2

[2021-06-02 16:01] chrissainty commented on #47
Have you tried doing the same thing with Blazor WebAssembly? Have you tried debugging? How much data are you trying to store?

You need to provide a lot more information when opening an issue. Hence I created the templates.

[2021-06-03 09:03] JackRFoulkes commented on #47
Thanks for the feedback, I have now updated my original post.

[2021-06-08 16:19] jamsoftperu commented on #47
I had the same problem when I tried to get a string session variable with 79373 characters

**Store Session variable**

await objSessionStorageService.SetItemAsync(LoginKey.USUARIO_SISTEMA, dataUsuario);

![image](https://user-images.githubusercontent.com/6134417/121221095-d87ae580-c84a-11eb-8931-f80827ee0583.png)

**Get Session variable**

var data = await objSessionStorageService.GetItemAsString

[2021-06-15 07:04] chrissainty commented on #47
@jamsoftperu @JackRFoulkes Are you both using Blazor Server? Have you tried doing this with Blazor WebAssembly to see if you get the same results?

[2021-07-08 11:23] Jagreaper opened #48 "[Feature Request] Cancellation Token support"
I'm was trying to create a common interface to bridge the two implementations of your LocalStorageSession and SessionStorageService. However, whilst the interface for the LocalStorageService has support for cancellation tokens in its methods, the storage service does not.

I would like to see CancellationToken support integrated with this library to bring it further into parity with the LocalStora

[2021-07-08 13:59] chrissainty commented on #48
Please feel free to raise a PR for this feature.

[2021-07-12 06:48] jamsoftperu commented on #47
Same results

[2021-07-13 04:43] jamsoftperu commented on #47
I had the solution!! the problem was configuration of SignalR service, add this to configuration to solve the problem:
services.AddSignalR(hubOptions =>
            {
                hubOptions.MaximumReceiveMessageSize = 10 * 1024 * 1024; // 10MB
            });

[2021-09-07 21:31] carleydiaz opened #49 "Using blazor server side, unable to retrieve from sessionStorage"
[code]
this line of code always pulls back null after the initial calls are made.

When it's called in this function it works, but only at the time this function is called:
[code]

[2021-09-07 21:41] carleydiaz commented on #49
I have tried calling the GetItemAsync inside of the OnAfterRenderAsync to no avail.

[2021-09-08 06:15] chrissainty commented on #49
The call is GetItemAsync is asynchronous--you need to await it.

[code]

[2021-09-08 06:15] #49 closed

[2021-09-14 07:41] andrew-tevent opened #50 "Could the dependency on bUnit.Core be removed?"
I've just found that our app is shipping `bUnit.Core` and on inspection, tracked it down to Blazored.SessionStorage.

Could this be removed from the production code perhaps?

You could still have a `TestContentBase` extension method in the Tests project, but it could create a `ServiceCollection`, call the production `AddBlazoredSessionStorage` to register all the DI (as it would in a production ap

[2021-09-14 08:36] chrissainty commented on #50
Thanks for raising this. We had this problem in Local Storage and we've created a separate test package and we'll do the same thing here.

[2021-09-27 13:37] tripleacoder commented on #33
The bug is still there after upgrading to v. 2.1.0.
When I run the repro project I can reproduce the error 100% of the time.

[2021-09-27 13:53] tripleacoder commented on #33
The bug is also present when using the Newtonsoft JSON serializer instead of the default one.

[2021-09-29 07:32] tripleacoder commented on #33
@chrissainty
Hi Chris, will you re-open this issue as I believe the problem is still there after the code changes.

[2021-10-01 07:53] tripleacoder opened #51 "[Bug]GetItemAsync and SetItemAsync throw System.Threading.Tasks.TaskCanceledException: 'A task was canceled.'"
**Describe the bug**
I'm trying to use SessionStorage to store larger graphs of objects (a few hundreds).

However, I often get a crash with the message 'A task was canceled' from GetItemAsync and SetItemAsync. Also, Blazor shows the message "Attempting to reconnect to server" both when doing local debugging and when deployed to an IIS server.

**To Reproduce**
Steps to reproduce the behavior:

Cl

[2021-10-01 13:54] #47 closed

[2021-10-01 13:55] chrissainty commented on #51
How much data are you attempting to persist? Local storage has a 5MB limit. There is also a limit set by SignalR in Blazor Server which you may have to increase. See this comment https://github.com/Blazored/SessionStorage/issues/47#issuecomment-878775137

[2021-10-08 22:14] #50 closed

[2021-10-08 22:15] #48 closed

[2021-10-11 08:54] tripleacoder commented on #51
After enabling exceptions from external code in VS, I got:

So your answer was correct...

I added the following code to Startup.cs:
[code]
and the error disappeared.

[2021-12-20 07:50] kristof12345 opened #57 "[Feature Request] .NET6"
Hi!

Please update this package to .NET 6.

Thank you!

[2021-12-20 09:56] chrissainty commented on #57
The package should still work with .NET 6. Are you having a specific issue?

[2022-04-27 16:48] marcoatribeiro opened #62 "[Feature Request]"
Hi!

It would be nice, in TestExtensions, if there was a method to add a mocked service implementing ISyncSessionStorageService.

Best regards,
Marco.

[2022-04-28 11:56] chrissainty commented on #62
Hi @marcoatribeiro, that's a great point. I think it was missed when the test extensions were originally added.

[2022-05-11 06:33] IonRobu opened #63 "[Question] Serialize internal properties?"
Hello,

I have a plain class
[code]
which is serialized in SessionStorage.
If I change modifier type from public to internal for properties, the properties are not serialized anymore.
Not sure if this behavior could be changed or even should be changed; is just a question.

Thanks,
Ion

[2022-06-03 13:22] ChrisGroupScape opened #64 ""Duplicate Tab" issue."
I'd like an option/feature where, if the user selects "Duplicate Tab" in the browser, I can detect it that the session storage contents have been duplicated.

[2022-06-24 15:58] grumpykiwi opened #65 "Session ID"
**Please be sure to check the readme file before raising an issue.**
Does your component expose the Session ID?

I am converting an old .Net Framework app to Blazor Server .Net 6. There is some code that has to keep track of the Session ID as a lookup value to a SQL table. I would prefer to not have to rewrite this code as it is a bit of a kludge anyway. but the functionality was a must have for t

[2022-08-15 18:29] polajenko commented on #63
I would like to know the same thing.

[2022-08-28 21:04] chrissainty commented on #65
What do you mean by session ID?

[2022-08-29 00:02] grumpykiwi commented on #65
In the old .Net framework 4.8 code I am using the following to track a user's session in a SQL table with some other values

var sessionId = HttpContext.Current.Session.SessionID;

Code would then fetch a record if if existed from the table, or create the record if it didn't.

In the rewrite I am working on, I was looking for something similar as a quick and dirty replacement. I had to go and look

[2022-08-29 08:34] chrissainty commented on #65
I'm glad you e found a solution 🙂.

Just for reference, browser session storage has nothing to do with .NET sessions, it's just a key/value store in the browser and this library provides interop with it.

[2022-08-29 08:34] #65 closed

[2022-10-27 08:37] tripleacoder opened #66 "[Bug]Different Blazor Server apps on same web server can share session values"
We have a strange bug where 2 different Blazor Server apps on the same web server can apparently access each other's session values.

The two apps each have their own application pool on the server.

The apps (A + B) share some session property names like "ProgramVersion" and "ResponsibleDeveloper" and it looks like they can get mixed up so A can show B's ProgramVersion and vice versa.

How could

[2022-11-28 15:28] tripleacoder commented on #66
If I press F12 in Chrome I can see Application -> Session Storage for both my apps.

![image](https://user-images.githubusercontent.com/29861785/204316411-e756427c-de3c-44e6-aff2-5111b6154cdd.png)

It looks like they can access each others values, which is not good.

Also, they both have the same url (session key?) which is the url to the server they are both deployed on.

Could this be the reason

[2022-11-28 16:40] chrissainty commented on #66
Hi @tripleacoder. Apologies for not getting this sooner.

If your apps are running off the exact same domain then they will share session storage. Browser storage is scoped to an origin.

From the MDN Docs:

[2022-11-29 11:46] tripleacoder commented on #66
I think I will fix it by prepending an application-specific id to the property name:
[code]

That should prevent session values from colliding.

The apps can still read each other's values, but I don't see a security risk.

[2022-11-29 17:09] #66 closed

[2022-11-30 18:02] GitHubington commented on #10
Some kind of options feature/middleware would be good...
[code]
Then we can roll our own.